#dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 933px;
  background-color: #03b5b0;
  background-repeat: no-repeat;
  background-position: bottom -65px right -170px;
  background-image: url('../icones/icon-brown.svg');
}

.dropdown-open {
  padding-bottom: 345px;
}

#dropdown-title {
  margin-top: 80px;
  font-size: 45px;
  color: #ffcc33;
}

.dropdown-text-box {
  position: absolute;
  height: 0px;
  width: 302px;
  background-color: #ffcc33;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
}

.dropdown-text {
  width: 246px;
  color: #7a2b58;
  font-size: 18px;
  margin-top: 30px;
}

.dropdown-text-show {
  height: 345px;
}

#dropdown-subtitle {
  margin-top: 40px;
  width: 945px;
  height: 51px;
  font-size: 20px;
  color: white;
}

#cards {
  margin-top: 60px;
  display: flex;
}

.card {
  width: 302px;
  height: 274px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#first-card {
  background-image: url('../icones/icon-02.svg');
}

#second-card {
  background-image: url('../icones/icon-03.svg');
}

#thrid-card {
  background-image: url('../icones/icon-04.svg');
}

.card-button-background {
  background-color: #7a2b58;
  height: 40px;
  width: 100%;
  position: absolute;
  border-radius: 0 0 20px 20px;
  bottom: 0;
}

.card-button {
  width: 54px;
  height: 54px;
  background-color: white;
  background-image: url('../icones/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: 11px 18px;
  border-radius: 100%;
  cursor: pointer;
  margin-top: 250px;
  position: absolute;
}

.card-button-active {
  background-color: #7a2b58;
  background-position: center 15px;
  background-image: url('../icones/icon-arrow-up.svg');
}

#first-button {
  margin-left: 135px;
}

#second-button {
  margin-left: 455px;
}

#third-button {
  margin-left: 775px;
}
