#office {
  background-color: #353535;
  height: 633px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#office-title {
  margin-top: 80px;
  font-size: 38px;
  color: #03b5b0;
}

#office-info {
  margin-top: 67px;
  display: flex;
  width: 944px;
  height: 429px;
  justify-content: space-between;
}

#office-text {
  width: 407px;
  height: 311px;
  color: white;
  font-size: 20px;
}

#office-image {
  background-image: url('../imagens/img-01.png');
  width: 462px;
  height: 365px;
}
