#office {
  background-color: #353535;
  height: 683px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#office-title {
  margin-top: 80px;
  font-size: 38px;
  color: #03b5b0;
}

#office-info {
  margin-top: 67px;
  display: flex;
  width: 944px;
  height: 429px;
  justify-content: space-between;
  align-items: center;
}

#office-text {
  width: 407px;
  height: 311px;
  color: white;
  font-size: 20px;
}

#office-image {
  background-image: url('../imagens/img-01.png');
  width: 462px;
  height: 365px;
  border-radius: 0 0 50px 0;
}

#blue-arrow {
  background-image: url('../icones/icon-blue.svg');
  right: 43.4%;
  margin-bottom: 365px;
}

#yellow-arrow {
  background-image: url('../icones/icon-yellow.svg  ');
  right: 25.15%;
  margin-top: 340px;
}

.arrows {
  width: 144px;
  height: 83px;
  position: absolute;
}

@media (max-width: 600px) {
  #office {
    height: 780px;
  }

  #office-title {
    margin-top: 30px;
    font-size: 25;
  }

  #office-info {
    margin-top: 33px;
    width: 360px;
    flex-direction: column-reverse;
  }

  #office-image {
    width: 364px;
    height: 288px;
    background-size: 364px 288px;
  }

  #office-text {
    width: 318px;
    height: 85px;
    color: white;
    font-size: 16px;
  }

  .arrows {
    width: 114px;
    height: 65px;
  }

  #blue-arrow {
    background-size: 114px 65px;
    left: -35px;
    margin-bottom: 390px;
  }

  #yellow-arrow {
    background-size: 114px 65px;
    right: -34px;
    margin-bottom: 125px;
  }
}
